.page_3{
    opacity: 0;
}

.page3{
    &__title{
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;

        text-transform: uppercase;

        color: #272727;
    }

    &__list{
        width: 580px;
        padding-left: 0;
    }
    &__item{
        height: 30px;
        width: 100%;

        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;

        list-style-type: none;

        color: #272727;

        padding-left: 10px;
        padding-top: 10px;

        transition: background .3s ease;

        cursor: pointer;

        span{
            margin-left: 20px;
        }

        &_active{
            background: #8372EA;
            color: #FFFFFF;

            transition: background .3s ease;
        }
    }

    &__paragraph{

        margin-top: 40px;

        width: 580px;
        height: 76px;

        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        
        color: #272727;
    }

    &__container{
        width: 400px;
        max-height: 500px;
        position:absolute;
        right: 70px;
        bottom: 65%;
    }

    &__pic{
        position: absolute;
        opacity: 1;
        transition: opacity .3s ease;

        &_none{
            opacity: 0;
            transition: opacity .3s ease;
        }
    }

}

@media (max-width: 1200px){
    .page3{
        &__container{
            right: 25px;
            bottom: 75%;
        }
        &__pic{
            &_2{
                margin-top: 20%;
            }
            &_3{
                width: 90%;
            }
        }
    }
}