.form{

    height: 460px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    margin-left: 80px;

    input{
        outline: none;
    }

    &__title{
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        text-transform: uppercase;
        
        color: #272727;
    }

    &__subtitle{
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        
        color: #272727;
    }

    &__label{
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        
        color: #272727;
        span{
            margin-top: -5px;
        }
    }

    &__input{
        border: none;
        border-bottom: 1px solid #C7DDE3;
        width: 500px;

        font-family: Gilroy;
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        
        color: #959FB3;
    }

    &__button{
        width: 156px;
        height: 38px;

        background: #1DDAA1;
        border-radius: 20px;

        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 13.3719px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        
        color: #FFFFFF;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: background .3s ease;

        cursor: pointer;

        &:hover{
            background: darken($color: #1DDAA1, $amount: 5);
            transition: background .3s ease;
        }

    }

    &__law{
        font-family: Gilroy;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        
        color: #959FB3;

        width: 488px;
    }
}